body {
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%);
}

#container {
    background-color: rgba(224, 224, 224, 0.5);
    width: 600px;
    height: 800px;
    border-radius: 10px;
    margin: auto;
}


/*-------------------- css do login-----------------------*/

#bloco-login {
    background: rgba(241, 241, 238, 0.70);
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border-style: none;
    padding: 20px;
    font-size: 20px;
    
}

#bloco-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#h2-login {
    position: relative;
    top: -30px;
    font-size: 20px;
    text-align: center;
}

input {
    height: 25px;
    width: 300px;
    border: none;
}

input:focus {
    outline: none;
    border: 1px solid #4cafef;
    box-shadow: 0 0 5px #4cafef;
}

label {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s ease;
}

#enviar {
    display: block;
    width: 300px;
    height: 30px;
    text-align: center;
    background-color: rgba(110, 151, 93, 0.562);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

#enviar:focus {
    border: 1px solid #4cafef;
    box-shadow: 0 0 5px #4cafef;
}

#bt-esqueci {
    border: none;
    background: none;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px #23c466;

} 

#bt-esqueci:focus {
    text-shadow: 2px 2px 2px #4cafef;
}

#div-sub {
    display: flex;
    align-items: center;
    gap: 10px;
}

#bt-sub {
    border: none;
    background: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px #23c466;
}

#bt-sub:focus {
    text-shadow: 2px 2px 1px #4cafef;
}