#ja-tem-conta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    width: max-content;
}

.terms {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    align-items: center
}

.termsAndCheck {
    display: flex;
    justify-content: center;
    align-items: center;
}

#termos-check {
    width: 20px;
    height: 20px;
    border: none;
}