#container-exp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: auto;
}

#exp-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 10px;
}

#campo-inicio, #campo-fim {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#campo-inicio label, #campo-fim label {
  width: 50px;
}

/*-------------------------EXPERIÊNCIA PROFISSIONAL--------------------------------*/
.h3-prof {
  padding: 50px 0 0 0;
}

#exp-prof-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
}

.check-cargo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 10px;
}

#emprego-atual {
  width: 20px;
  height: 20px;
  cursor: pointer;
}


/*------------------------------IDIOMAS--------------------------------*/

#idiomas {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#idiomas select {
  width: 100%;
}

/*------------------------------Certificados------------------------------*/

#certificado {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#certificado-arq {
  width: max-content;
  background: none;
  font-size: 15px;
  cursor: pointer;
}

/*------------------------------DADOS PESSOAIS------------------------------*/

#container-dadosP {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: auto;
}

.genero-h3 {
  margin: 0;
}

#genero {
  display: flex;
  justify-content: start;
  align-items: center;
}
#genero input {
  width: 20px;
  height: 20px;
}