#container-curriculo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: auto;
}

#exp-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 10px;
}

#campo-inicio, #campo-fim {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#campo-inicio label, #campo-fim label {
  width: 50px;
}

